* {
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
}

h1 {
  background-color: rgb(91, 25, 204);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

button {
  background-color: #4287f5;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin: 10px;
  color: white;
  font-weight: bold;
}

.paragraph {
  height: 200px;
  width: 400px;
  border: 1px dotted black;
  margin: 10px;
}
